body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background-color: #0073e6;
    color: white;
    padding: 20px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

.project-section {
    margin-bottom: 40px;
}

h2 {
    color: #333;
}

.details {
    display: none; /* Hide details initially */
    margin-top: 10px;
    border: 1px solid #0073e6;
    padding: 15px;
    background-color: #f9f9f9;
}

.toggle-btn {
    background-color: #0073e6;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.toggle-btn:hover {
    background-color: #005bb5;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #0073e6;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}

